<div class="logo">
  <img src="tu-logo.png" alt="Logotipo">
</div>
<h2>Cambio de Contrase単a</h2>
<form action="{{recoveryRoute}}/{{recoveryCode}}" method="post">
  <label for="password">Nueva Contrase単a:</label>
  <input type="password" id="password" name="password" required />

  <label for="confirm_password">Confirmar Contrase単a:</label>
  <input type="password" id="confirmPassword" name="confirmPassword" required />

  <button type="submit">Cambiar Contrase単a</button>
</form>
