<div class="error-icon">
    <i class="fas fa-times-circle"></i>
</div>
<h2>Contraseña no Cumple Requisitos</h2>
<p>{{message}}</p>
<div class="try-again">
    <a href="{{goBackRoute}}">Intenta de nuevo</a>
</div>

